.loginRegisterComponent{
    display: flex;
    flex: 0 20%;
    justify-content: flex-end;
    align-items: flex-start;

    li{
        list-style-type: none;
        margin: 0 2%;
        padding: 2%;
        flex: 0 18%;
        color: hsl(0, 0%, 41%);
        cursor: pointer;
    }
    li:hover{
        color: hsl(0, 0%, 8%);    
        font-weight: 550;
     }  
    .register{
        border: 2px solid hsl(0, 0%, 41%);
        border-radius: 10px;
        padding: 2%;
        text-align: center;
    }
}