.mainBarComponent{
    display: flex;
    flex: 0 70%;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
}

@media all and (max-width:  375px)  {
.mainBarComponent{
        flex: 1 100%;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    }