.menu{
    display: flex;
    flex: 0 50%;

    .hamburgerIcon{
        display: none;
    }

   .menuList{
    display: flex;
    flex: 1 100%;

    justify-content: space-around;

    
    li{
        list-style-type: none;
        margin: 1%;
        color: hsl(0, 0%, 41%);

        flex: 0 20%;
        cursor: pointer;

        

        .podMenuListFeatures{
            position:absolute;
            top: 10%;
            left: 18%;
            padding: 1%;
            background-color: white;
            border-radius: 10px;
            min-width: 100px;
            li{
                display:flex;
                justify-content:flex-start;
                padding: 5% 0;
                width: 90%;
                text-align: center;
                font-size:14px;
               
                 img{
                    flex: 0 5%;
            margin: 1% 10%;
            }
            
        }
        }
        .podMenuListCompany{
            position:absolute;
            top: 10%;
            left: 28%;
            padding: 1% 0;
            background-color: white;
            border-radius: 10px;
            min-width: 83px;
            li{
                display:flex;
                justify-content:flex-start;
                text-align: center;
                 font-size:14px;
                 padding: 5% 10%;
            }
           
        }

     
    }
    li:hover{
        color: hsl(0, 0%, 8%);    
        font-weight: 550;
     }  

    } 
}


    @media all and (max-width:  375px)  {
        .menu{
            display:none;
            }

        }