.mobileMenuComponent{
    display:none;
}

@media all and (max-width:  375px)  {
    .mobileMenuComponent{
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-self: center;
        flex: 0 30%;
        margin:0 5% 0 0;
        padding:0;


        .hamburgerIcon{
            width: 30%;
            height: auto;
            cursor: pointer;
        }

        .mobileMenu{
        display: flex;
        flex: 0 80%;
        align-content:flex-start;
        align-items: flex-start;
        flex-flow: row wrap;
        background-color: white;
        position:fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 250px;
        margin: 0;
        

        .hamburgeriIconClose{

            display:flex;
            justify-content: flex-end;
            align-self: flex-start;
            flex: 1 100%;
            margin: 5%;


           .hamburgerIconCloseImg{
        align-self: flex-start;
       position: relative;
       top: 0;
       right:0;
        width: 10%;
        height: auto;
        margin: 5% 0 5% 5%;
        cursor: pointer;

 
        }
        
    }

    .hideMenuList{
        display: none;
    }
    .menuList{
        display:flex;
        flex-flow:row wrap;
        flex: 0 80%;
        justify-content: flex-start;
        align-content: flex-start;
        align-self: flex-start;
       

        li{
            flex: 0 80%;
            margin: 4% 4% 4% 0;
            list-style-type: none;
            cursor: pointer;


            .podMenuListFeatures{
                position: static;
            }
            .podMenuListCompany{
                position:static;
            }
            img{
                flex: 0 5%;
                margin: 1% 10%;
        }
        }
    }
    }
    
    }
    
}