@media all and (max-width:  375px)  {
.mobileLoginRegisterComponent{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 100%;
    li{
        list-style-type: none;
        margin: 0 2%;
        padding: 2%;
        flex: 1 100%;
        text-align: center;
        color: hsl(0, 0%, 41%);
        cursor: pointer;
    }
    li:hover{
        color: hsl(0, 0%, 8%);    
        font-weight: 550;
     }  
    .register{
        border: 2px solid hsl(0, 0%, 41%);
        border-radius: 10px;
        padding: 2%;
        text-align: center;
    }

}
}